
#imgLogo{
    height:90px;
}
.headingModal{
    width:90%;margin-left: 16px;margin-right: 16px;position:fixed;top:0;
            border-bottom: 1px solid #000;
    padding-top: 16px;
    background-color: #fff;
    padding-bottom: 10px;
    margin-top: 0;z-index: 1000000000000;
  }
