<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1" style="color:#000;"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Change Password
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin-bottom:65px;">
    <ion-item>
      <ion-label position="floating">Current Password</ion-label>
      <ion-input type="password" [(ngModel)]="txtCurrentPassword"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">New Password</ion-label>
      <ion-input type="password" [(ngModel)]="txtNewPassword"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input type="password" [(ngModel)]="txtConfirmPassword"> </ion-input>
    </ion-item>
  </div>

  <div class="divFooter">
    <ion-button (click)="fnChangePassword()" expand="block">Update Password</ion-button>
  </div>

</ion-content>
